In [1]:
import pandas as pd

In [2]:
madden_df = pd.read_csv("Madden 19 Full Player Ratings.csv")
players_df = pd.read_csv("players2018.csv")

In [3]:
print(players_df.head())

     nflId height  weight   birthDate             collegeName position  \
0  2539334     72     190  1990-09-10              Washington       CB
1  2539653     70     186  1988-11-01  Southeastern Louisiana       CB
2  2543850     69     186  1991-12-18                  Purdue       SS
3  2555162     73     227  1994-11-04         Louisiana State      MLB
4  2555255     75     232  1993-07-01               Minnesota      OLB

          displayName
0     Desmond Trufant
1       Robert Alford
2       Ricardo Allen
3         Deion Jones
4  De'Vondre Campbell

In [4]:
print(madden_df.head())

       Team  Jersey #            Name  Age Position  Height  Weight  Overall  \
0  Patriots        12       Tom Brady   41       QB      76     225       99
1  Patriots        87  Rob Gronkowski   29       TE      78     265       99
2  Steelers        84   Antonio Brown   30       WR      70     181       99
3   Broncos        58      Von Miller   29     LOLB      75     250       99
4   Packers        12   Aaron Rodgers   34       QB      74     225       99

   Awareness  Speed  ...  Kick Accuracy  Stamina  Injury  Toughness  \
0         99     61  ...             17       99      98         96
1         96     83  ...             20       92      77         93
2         99     92  ...             18       96      94         84
3         99     87  ...             15       92      93         88
4         99     79  ...             18       98      95         97

   Birthdate  Years Pro  Handedness           College      Total Salary   \
0   3/8/1977         18       Right          Michigan   $ 42,500,000.00
1  5/14/1989          8       Right           Arizona   $ 58,000,000.00
2  10/7/1988          8        Left  Central Michigan   $ 37,340,000.00
3  3/26/1989          7       Right          Texas AM   $ 53,600,000.00
4  2/12/1983         13       Right        California   $ 91,000,000.00

      Signing Bonus
0   $ 28,000,000.00
1   $ 11,000,000.00
2   $ 20,940,000.00
3   $ 16,420,000.00
4   $ 33,250,000.00

[5 rows x 67 columns]

In [5]:
# Ensure all birthdates use the same formatting
players_df['birthDate'] = pd.to_datetime(players_df['birthDate'], dayfirst=True)
madden_df['Birthdate'] = pd.to_datetime(madden_df['Birthdate'], dayfirst=True)

C:\Users\ellio\AppData\Local\Temp\ipykernel_20236\3887081095.py:2: UserWarning: Parsing dates in MM/DD/YYYY format when dayfirst=True was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  players_df['birthDate'] = pd.to_datetime(players_df['birthDate'], dayfirst=True)
C:\Users\ellio\AppData\Local\Temp\ipykernel_20236\3887081095.py:3: UserWarning: Parsing dates in MM/DD/YYYY format when dayfirst=True was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  madden_df['Birthdate'] = pd.to_datetime(madden_df['Birthdate'], dayfirst=True)

In [6]:
print(madden_df['Birthdate'][:41])
print(players_df['birthDate'][:12])

0    1977-08-03
1    1989-05-14
2    1988-07-10
3    1989-03-26
4    1983-12-02
5    1991-04-20
6    1991-05-23
7    1989-03-22
8    1991-02-22
9    1989-02-03
10   1994-10-24
11   1991-09-30
12   1989-02-02
13   1990-06-27
14   1992-02-18
15   1988-12-29
16   1991-03-18
17   1986-07-22
18   1990-11-20
19   1990-01-11
20   1989-07-12
21   1989-10-05
22   1992-11-05
23   1988-11-29
24   1990-12-12
25   1990-01-23
26   1989-07-10
27   1989-05-07
28   1992-06-06
29   1991-08-16
30   1987-12-20
31   1990-07-03
32   1988-07-19
33   1987-01-06
34   1988-07-31
35   1992-05-13
36   1984-08-12
37   1989-08-19
38   1990-12-13
39   1988-04-03
40   1990-09-10
Name: Birthdate, dtype: datetime64[ns]
0    1990-09-10
1    1988-11-01
2    1991-12-18
3    1994-11-04
4    1993-07-01
5    1995-07-26
6    1992-10-20
7    1986-01-08
8    1989-01-20
9    1990-11-10
10   1993-06-15
11   1993-05-24
Name: birthDate, dtype: datetime64[ns]

# Add a column for names from the Madden data which include suffixes (e.g. Jr)

In [7]:
players_names_list = players_df["displayName"]
madden_names_list = madden_df["Name"]

In [8]:
count = 0
updated_players_names = list(players_names_list)
for name in players_names_list:
    i = 0
    while i < len(madden_names_list):
        if name in madden_names_list[i]:
            updated_players_names[count] = madden_names_list[i]
            i = 10000
        
        i += 1
    if name == 'Christian Kirk':
            updated_players_names[count] = 'Christian Kirk'
    count += 1

print(len(updated_players_names))

1303

In [9]:
players_df['updatedName'] = updated_players_names
print(players_df.head())

     nflId height  weight  birthDate             collegeName position  \
0  2539334     72     190 1990-09-10              Washington       CB
1  2539653     70     186 1988-11-01  Southeastern Louisiana       CB
2  2543850     69     186 1991-12-18                  Purdue       SS
3  2555162     73     227 1994-11-04         Louisiana State      MLB
4  2555255     75     232 1993-07-01               Minnesota      OLB

          displayName         updatedName
0     Desmond Trufant     Desmond Trufant
1       Robert Alford       Robert Alford
2       Ricardo Allen       Ricardo Allen
3         Deion Jones         Deion Jones
4  De'Vondre Campbell  De'Vondre Campbell

# Now include those with slightly different punctuation

In [10]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text
import string

players_df["nopunctuationname"] = players_df["updatedName"].apply(remove_punctuations)
madden_df["nopunctuationname"] = madden_df["Name"].apply(remove_punctuations)

In [11]:
print(players_df["nopunctuationname"])
print(madden_df["nopunctuationname"])

0         Desmond Trufant
1           Robert Alford
2           Ricardo Allen
3             Deion Jones
4       DeVondre Campbell
              ...
1298          Andrew East
1299        Max McCaffrey
1300         Sean Mannion
1301     Darious Williams
1302        Malachi Dupre
Name: nopunctuationname, Length: 1303, dtype: object
0            Tom Brady
1       Rob Gronkowski
2        Antonio Brown
3           Von Miller
4        Aaron Rodgers
             ...
2347    Hunter Bradley
2348       Joe Cardona
2349       Drew Ferris
2350       Luke Rhodes
2351         Zach Wood
Name: nopunctuationname, Length: 2352, dtype: object

In [12]:
madden_names_list = madden_df["Name"]
updated_players_names_list = players_df["updatedName"]
madden_nopunc = madden_df["nopunctuationname"]
players_nopunc = players_df["nopunctuationname"]
count = 0
name_count = 0
updated_players_names2 = list(players_names_list)
for name in players_nopunc:
    i = 0
    while i < len(madden_names_list):
        if name in madden_nopunc[i]:
            name_count += 1
            updated_players_names2[count] = madden_names_list[i]
            i = 10000
        i += 1
    if name == 'Christian Kirk':
            updated_players_names2[count] = 'Christian Kirk'
    count += 1
print(name_count)

1157

In [13]:
players_df['updatedName2'] = updated_players_names2
players_df.to_csv('trialplayers.csv')  # Use to check file if necessary

# Replace NA dates using the Madden data

In [14]:
# players_date = players_df['birthDate']
# madden_date = madden_df['Birthdate']
# players_names = players_df['updatedName2']
# madden_names = madden_df["Name"]
# players_pos = players_df['position']
# madden_pos = madden_df['Position']
# count = 0
# for date in players_date:
#     if pd.DataFrame([date]).isnull()[0][0] == True:
#         player = players_names[count]
#         i = 0
#         while i < len(madden_names):
#             if player in madden_names[i]:
#                 if player == 'Michael Carter':  # Michael Carter is the only duplicate name which has a nan in the date column
#                     if players_pos[count] == madden_pos[i]:
#                         players_date[count] = madden_date[i]
#                 else:
#                     players_date[count] = madden_date[i]
#             i += 1
        
#     count += 1

In [15]:
print(players_df['birthDate'])
#players_df.to_csv('trialnewdate.csv')

0      1990-09-10
1      1988-11-01
2      1991-12-18
3      1994-11-04
4      1993-07-01
          ...
1298   1991-09-17
1299   1994-05-17
1300   1992-04-25
1301   1993-03-15
1302   1995-12-10
Name: birthDate, Length: 1303, dtype: datetime64[ns]

# Combine the two datasets using the D.O.B and Full name

First we need to make sure the column names match up (rename column titles)

In [16]:
madden_df.rename(columns={"Birthdate": "birthDate"}, inplace=True)
madden_df.rename(columns={"Name": "updatedName2"}, inplace=True)
print(madden_df.columns)
print(players_df.columns)

Index(['Team', 'Jersey #', 'updatedName2', 'Age', 'Position', 'Height',
       'Weight', 'Overall', 'Awareness', 'Speed', 'Agility', 'Acceleration',
       'Strength', 'Jumping', 'Throw Power', 'Throw Accuracy Short',
       'Throw Accuracy Mid', 'Throw Accuracy Deep', 'Throw on the Run',
       'Throw Under Pressure', 'Playaction', 'Break Sack', 'Carrying',
       'BC Vision', 'Break Tackle', 'Trucking', 'Elusiveness', 'Juke Move',
       'Spin Move', 'Stiff Arm', 'Catch', 'Catch in Traffic', 'Spec. Catch',
       'Short Route Runing', 'Medium Route Running', 'Deep Route Running',
       'Release', 'Run Block', 'Pass Block', 'Run Block Power',
       'Pass Block Power', 'Run Block Finesse', 'Pass Block Finesse',
       'Lead Block', 'Impact Blocking', 'Power Moves', 'Finesse Moves',
       'Block Shedding', 'Tackle', 'Play Recognition', 'Pursuit', 'Hit Power',
       'Man Coverage', 'Zone Coverage', 'Press', 'Kick Return', 'Kick Power',
       'Kick Accuracy', 'Stamina', 'Injury', 'Toughness', 'birthDate',
       'Years Pro', 'Handedness', 'College', ' Total Salary ',
       ' Signing Bonus ', 'nopunctuationname'],
      dtype='object')
Index(['nflId', 'height', 'weight', 'birthDate', 'collegeName', 'position',
       'displayName', 'updatedName', 'nopunctuationname', 'updatedName2'],
      dtype='object')

Now we can combine the two datasets

In [17]:
merged_df = players_df.merge(madden_df, on=['birthDate','updatedName2']).sort_index(axis=1)
print(merged_df.columns)

Index([' Signing Bonus ', ' Total Salary ', 'Acceleration', 'Age', 'Agility',
       'Awareness', 'BC Vision', 'Block Shedding', 'Break Sack',
       'Break Tackle', 'Carrying', 'Catch', 'Catch in Traffic', 'College',
       'Deep Route Running', 'Elusiveness', 'Finesse Moves', 'Handedness',
       'Height', 'Hit Power', 'Impact Blocking', 'Injury', 'Jersey #',
       'Juke Move', 'Jumping', 'Kick Accuracy', 'Kick Power', 'Kick Return',
       'Lead Block', 'Man Coverage', 'Medium Route Running', 'Overall',
       'Pass Block', 'Pass Block Finesse', 'Pass Block Power',
       'Play Recognition', 'Playaction', 'Position', 'Power Moves', 'Press',
       'Pursuit', 'Release', 'Run Block', 'Run Block Finesse',
       'Run Block Power', 'Short Route Runing', 'Spec. Catch', 'Speed',
       'Spin Move', 'Stamina', 'Stiff Arm', 'Strength', 'Tackle', 'Team',
       'Throw Accuracy Deep', 'Throw Accuracy Mid', 'Throw Accuracy Short',
       'Throw Power', 'Throw Under Pressure', 'Throw on the Run', 'Toughness',
       'Trucking', 'Weight', 'Years Pro', 'Zone Coverage', 'birthDate',
       'collegeName', 'displayName', 'height', 'nflId', 'nopunctuationname_x',
       'nopunctuationname_y', 'position', 'updatedName', 'updatedName2',
       'weight'],
      dtype='object')

In [18]:
merged_df = merged_df.drop(['nopunctuationname_x', 'nopunctuationname_y'], axis=1)
print(merged_df.columns)
merged_df.to_csv('merged_df2018.csv')

Index([' Signing Bonus ', ' Total Salary ', 'Acceleration', 'Age', 'Agility',
       'Awareness', 'BC Vision', 'Block Shedding', 'Break Sack',
       'Break Tackle', 'Carrying', 'Catch', 'Catch in Traffic', 'College',
       'Deep Route Running', 'Elusiveness', 'Finesse Moves', 'Handedness',
       'Height', 'Hit Power', 'Impact Blocking', 'Injury', 'Jersey #',
       'Juke Move', 'Jumping', 'Kick Accuracy', 'Kick Power', 'Kick Return',
       'Lead Block', 'Man Coverage', 'Medium Route Running', 'Overall',
       'Pass Block', 'Pass Block Finesse', 'Pass Block Power',
       'Play Recognition', 'Playaction', 'Position', 'Power Moves', 'Press',
       'Pursuit', 'Release', 'Run Block', 'Run Block Finesse',
       'Run Block Power', 'Short Route Runing', 'Spec. Catch', 'Speed',
       'Spin Move', 'Stamina', 'Stiff Arm', 'Strength', 'Tackle', 'Team',
       'Throw Accuracy Deep', 'Throw Accuracy Mid', 'Throw Accuracy Short',
       'Throw Power', 'Throw Under Pressure', 'Throw on the Run', 'Toughness',
       'Trucking', 'Weight', 'Years Pro', 'Zone Coverage', 'birthDate',
       'collegeName', 'displayName', 'height', 'nflId', 'position',
       'updatedName', 'updatedName2', 'weight'],
      dtype='object')

In [19]:
merged_df2 = players_df.merge(madden_df, on=['updatedName2']).sort_index(axis=1)
merged_df2.to_csv('merged_df22018.csv')

In [20]:
merged_df3 = players_df.merge(madden_df, on=['birthDate']).sort_index(axis=1)
merged_df3.to_csv('merged_df32018.csv')