Analysis of passing strategy

In [47]:
import datetime
import pandas as pd
import numpy as np

In [4]:
plays_df = pd.read_csv("./data2023/plays.csv")

In [6]:
games_df = pd.read_csv("./data2023/games.csv")

In [48]:
players_df = pd.read_csv("./data2023/players.csv")

In [5]:
plays_df.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,foulNFLId3,absoluteYardlineNumber,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType
0,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,NaN,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man
1,2021090900,137,(13:18) (Shotgun) D.Prescott pass deep left to...,1,1,10,DAL,TB,DAL,2,...,NaN,108.0,EMPTY,"1 RB, 2 TE, 2 WR",6.0,"4 DL, 4 LB, 3 DB",TRADITIONAL,0,Cover-3,Zone
2,2021090900,187,(12:23) (Shotgun) D.Prescott pass short middle...,1,2,6,DAL,TB,DAL,34,...,NaN,76.0,SHOTGUN,"0 RB, 2 TE, 3 WR",6.0,"3 DL, 3 LB, 5 DB",TRADITIONAL,0,Cover-3,Zone
3,2021090900,282,(9:56) D.Prescott pass incomplete deep left to...,1,1,10,DAL,TB,TB,39,...,NaN,49.0,SINGLEBACK,"1 RB, 2 TE, 2 WR",6.0,"4 DL, 3 LB, 4 DB",TRADITIONAL,1,Cover-3,Zone
4,2021090900,349,(9:46) (Shotgun) D.Prescott pass incomplete sh...,1,3,15,DAL,TB,TB,44,...,NaN,54.0,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,"3 DL, 4 LB, 4 DB",TRADITIONAL,0,Cover-3,Zone

In [8]:
games_df.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL
1,2021091200,2021,1,09/12/2021,13:00:00,ATL,PHI
2,2021091201,2021,1,09/12/2021,13:00:00,BUF,PIT
3,2021091202,2021,1,09/12/2021,13:00:00,CAR,NYJ
4,2021091203,2021,1,09/12/2021,13:00:00,CIN,MIN

# Players pre-processing

In [9]:
players_df.head()

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
3,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
4,30078,6-2,228,1982-11-24,Harvard,QB,Ryan Fitzpatrick

In [6]:
players_df.height.describe()

count     1679
unique      16
top        6-3
freq       255
Name: height, dtype: object

In [27]:
# Convert player height from inches to cm
players_df.height = players_df.height.apply(lambda x: (float(str(x).split("-")[0])*12+float(str(x).split("-")[1]))*2.54)

0       193.04
1       195.58
2       193.04
3       187.96
4       187.96
         ...
1674    185.42
1675    195.58
1676    193.04
1677    198.12
1678    198.12
Name: height, Length: 1679, dtype: float64

In [63]:
# Creates age column in days
players_df.birthDate = pd.to_datetime(players_df.birthDate)
today = np.datetime64(datetime.date.today())
ages = today - players_df.birthDate

datetime64[ns]

In [64]:
print(ages)

0      16659 days
1      14987 days
2      15026 days
3      14347 days
4      14720 days
          ...
1674          NaT
1675          NaT
1676          NaT
1677          NaT
1678          NaT
Name: birthDate, Length: 1679, dtype: timedelta64[ns]